<div id="event-details" class="cf">
			<div class="detail alpha">
				<h2>What</h2>
				<p>The DC regions hottest pitch event for start-ups.</p>
			</div>
			<div class="detail">
				<h2>When</h2>
				<p>	Thursday October 11th &amp;<br />
					Friday October 12, 2012</p>
			</div>
			<div class="detail">
				<h2>Where</h2>
				<p>The Carnegie Library<br />
					801 K Street NW<br />
					Washington DC 20001</p>
			</div>
		</div>
		
		<section>
			<div id="sponsors">
				<h2>Sponsors</h2>
				<div class="sponsor-pair">
					<a href="#" class="sponsor"></a>
					<a href="#" class="sponsor"></a>
				</div>
				<div class="sponsor-pair">
					<a href="#" class="sponsor"></a>
					<a href="#" class="sponsor"></a>
				</div>
				<div class="sponsor-pair cf">
					<a href="#" class="sponsor"></a>
					<a href="#" class="sponsor"></a>
				</div>
				
				<a href="#" class="button">Become a Sponsor</a>
			</div>
			
			<div id="why-apply">
				<h2>Why should you apply?</h2>
				<ol class="rounded-list">
					<li>Increase awareness and build your brand</li>
					<li>Exposure to a large and active investment community</li>
					<li>$100K to the winning companies</li>
				</ol>
				
				<a href="#" class="button cta">Ready? Apply now</a> or, <a href="#">buy tickets to attend</a>.
			</div>
		</section>
		
		<div id="graduates" class="cf">
			<h2>Graduates</h2>
			<ul>
				<li>
					<div class="graduate">
						<h3>Erik Kimel, <a href="http://www.peer2peertutors.com/">Peer2Peer Tutors</a></h3>
						<img width="200px" height="70px" src="assets/peer2peer-logo-400x70.png">
						
						<p>Since the 2011 DI, Peer2Peer Tutors was aquired to expand by Aristotle Circle (<a href="http://www.bizjournals.com/washington/news/2012/02/02/peer2peer-tutors-acquired-to-expand.html">WBJ</a> | <a href="http://online.wsj.com/article/SB10001424052970204652904577193470826876662.html">WSJ</a>). Peer2Peer founder, Erik Kimel, is now the Chief Strategy Officer of the company and overseeing a rapid expansion into domestic and international markets. D.I. was a stepping stone for thinking more broadly about how to scale, with whom to scale with, and how to make it happen in the most effective way.</p>
					</div>
				</li>
				
				<li>
					<div class="graduate">
						<h3>Brent Win, <a href="http://www.marzindustries.com/">Marz Industries</a></h3>
						<img width="200px" height="70px" src="assets/marz-logo-400x70.png">
						<p>Since its selection as the winner of Distilled Intelligence 1.0 in October, 2011, Marz has significantly progressed its product development efforts and has completed extensive in-house testing of a full size, installable unit.  Marz is poised to commence over-the-road testing of its "Ranger" Fuel Efficiency System in the third quarter of 2012.  In November, 2011 Marz was selected as one of ten "Greater Richmond Companies to Watch" by the Richmond Venture Forum.</p>
					</div>
				</li>
				
				<li>
					<div class="graduate">
						<h3>Blake Hall, <a href="https://www.troopswap.com/">TroopSwap</a></h3>
						<img width="200px" height="70px" src="assets/troopswap-logo-400x70.png">
						<p>DI gave us a platform to showcase the milestones we had achieved in front of a room full of early stage investors. Our participation netted us a giant check for second place (awesome!) and directly helped us close over 2.5M in equity financing over the next 60 days. Unless you have invented an application that prints money and clones amazing developers, you need to be at DI to engage with the community! </p>
					</div>
				</li>
				
				<li>
					<div class="graduate">
						<h3>Name, <a href="#">Startup</a></h3>
						<img width="200px" height="70px">
						<p>This is a summary for one of the graduates of DI 1.0. We will talk about who 
						they are, why they came to DI, and what they got out of it. We can talk about 
						where they are now, the success and riches that befell them, or the amazing 
						connections that DI brought to them.</p>
					</div>
				</li>
			</ul>
		</div>