<div id="event-details" class="cf">
	<div class="wrap">
		<div class="intro-audience third-column">
		<h2>Investors</h2>
			<ul>
				<li>$27+ Million has been invested into the DI 1.0 companies since October 2011</li>
				<li>15 of the companies have participated in world class Accelerators including 500 Startups, TechStars, and TheFort.vc</li>
				<li>235+ jobs have been created by the DI 1.0 companies since the event last Fall</li>
				<li>2 of the companies have been been acquired</li>
			</ul> 
			<a href="http://distilledintelligence.eventbrite.com" class="button transparent">Buy Tickets</a>
		</div>
		<div class="intro-audience third-column">
			<h2>Attendees</h2>
			<ul>
				<li>Entrepreneurs, come network with others in the industry and learn from those pitching</li>
				<li>Students can meet local entrepreneurs and see how business is done.</li>
				<li>Family members, come support the applicants</li>
			</ul> 
			<a href="http://distilledintelligence.eventbrite.com" class="button transparent">Buy Tickets</a>
		</div>

		<div class="intro-audience third-column">
			<h2>Startups</h2>
			<ul>
				<li>Increase awareness and build your company's brand</li>
				<li>Gain exposure to a large and active investment community</li>
				<li>$100,000 is awarded to the winning companies</li>
			</ul> 
			<a href="http://apply.distilledintelligence.com" class="button cta">Apply Now</a>
		</div>
	</div>
</div>

	<section class="cf">
		<div id="sponsors" class="cf">
			<div class="wrap">
				<h2>Our Sponsors</h2>
				<p>Service Providers are invited to attend DI as Sponsors. Tickets are not available for service providers to attend unless they Sponsor. If you're interested in sponsoring, download our our Sponsor Pack PDF.</p>
				<a href="https://s3.amazonaws.com/registerimages/DI2-Sponsor-Pack-noPricing.pdf" class="button" id="become-a-sponsor">Download our Sponsor Pack PDF</a>
				<ul>
					<li><a href="http://arlingtonva.us" class="sponsor" id="aed">Thank you to the Arlington Economic Development.</a></li>
					<li><a href="http://www.facebook.com/dcgov" class="sponsor" id="one_city">Thank you to the One City DC.</a></li>
					<li><a href="http://eventsdc.com" class="sponsor" id="events_dc">Thank you to the Events DC.</a></li>
				</ul>
			</div>	
		</div>
	</section>

	<section>
		<div class="wrap">
			<div id="graduates" class="cf">
				<h2>Startups from last year's event</h2>
				<ul>
					<li>
						<div class="graduate">
							<h3>Erik Kimel, <a href="http://www.peer2peertutors.com/" class="graduate-link">Peer2Peer Tutors</a></h3>
							<img width="200px" height="70px" src="assets/peer2peer-logo-400x70.png">
							
							<p>Since the 2011 DI, Peer2Peer Tutors was aquired to expand by Aristotle Circle (<a href="http://www.bizjournals.com/washington/news/2012/02/02/peer2peer-tutors-acquired-to-expand.html">WBJ</a> | <a href="http://online.wsj.com/article/SB10001424052970204652904577193470826876662.html">WSJ</a>). Peer2Peer founder, Erik Kimel, is now the Chief Strategy Officer of the company and overseeing a rapid expansion into domestic and international markets. D.I. was a stepping stone for thinking more broadly about how to scale, with whom to scale with, and how to make it happen in the most effective way.</p>
						</div>
					</li>
					
					<li>
						<div class="graduate">
							<h3>Brent Win, <a href="http://www.marzindustries.com/" class="graduate-link">Marz Industries</a></h3>
							<img width="200px" height="70px" src="assets/marz-logo-400x70.png">
							<p>Since its selection as the winner of Distilled Intelligence 1.0 in October, 2011, Marz has significantly progressed its product development efforts and has completed extensive in-house testing of a full size, installable unit.  Marz is poised to commence over-the-road testing of its "Ranger" Fuel Efficiency System in the third quarter of 2012.  In November, 2011 Marz was selected as one of ten "Greater Richmond Companies to Watch" by the Richmond Venture Forum.</p>
						</div>
					</li>
					
					<li>
						<div class="graduate">
							<h3>Blake Hall, <a href="https://www.troopswap.com/" class="graduate-link">TroopSwap</a></h3>
							<img width="200px" height="70px" src="assets/troopswap-logo-400x70.png">
							<p>DI gave us a platform to showcase the milestones we had achieved in front of a room full of early stage investors. Our participation netted us a giant check for second place (awesome!) and directly helped us close over 2.5M in equity financing over the next 60 days. Unless you have invented an application that prints money and clones amazing developers, you need to be at DI to engage with the community! </p>
						</div>
					</li>
					
					<li>
						<div class="graduate">
							<h3>Lisa Morales-Hellebo, <a href="http://shopsy.com" class="graduate-link">Shopsy</a></h3>
							<img width="200px" height="70px" src="assets/shopsy-logo-400x70.png">
							<p>In the year since DI 1.0, Shopsy has participated in TechStars Boston, refocused our business on a B2B model that will be the focus of our new site when we relaunch in the next few weeks with new branding, UX and functionality, and we now have retailers in our pipeline like Macy’s, Beall’s, Bon Ton, and Oscar de la Renta.</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</section>
</div>

<section id="newsletter" class="cf">
	<div class="wrap">
		<h2>Want to stay up-to-date on Distilled Intelligence 2.0?</h2>
		<!-- Begin MailChimp Signup Form -->
		<form action="http://fortify.us2.list-manage.com/subscribe/post?u=2ff84aa357f89294bb73c722f&amp;id=d5db91e529" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
			<div id="email-signup">
				<label for="mce-EMAIL">Your email address, please:</label>
				<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="ex. bringit@fortify.vc">
			</div>
			<input type="submit" value="Keep me in the loop!" name="subscribe" id="mc-embedded-subscribe" class="button">
		</form>
		</div>

		<!--End mc_embed_signup-->
	</div>	
</section>

<section id="faqs" class="cf">
	<div class="wrap">
		<h2>Frequently Asked Questions</h2>
		<dl>
			<dt>Is there a cost to apply to Distilled Intelligence?</dt>
			<dd>No, it is FREE to apply to DI 2.0! Each selected company will receive one ticket for the Founder that pitches, and a free display table.</dd>

			<dt>When is the application deadline for startups? </dt>
			<dd>The deadline is September 21st.</dd>

			<dt>Can additional Founders attend Distilled Intelligence?</dt>
			<dd>Yes, additional founders are welcome to attend and must purchase tickets online at http://distilledintelligence.eventbrite.com</dd>

			<dt>What do you look for in teams that are selected to compete?</dt>
			<dd>We like to see a team with the skills of a hacker, a hustler, and a designer.</dd>

			<dt>My team has been together for longer than a year. We've already tested and validated our product. It's built and we have customers. Are we too far along to apply to pitch?</dt>
			<dd>Companies apply at various stages and DI is a two day event. Day One is for later stage companies, and Day Two is for earlier stage companies.  </dd>

			<dt>I'm nervous, and have never pitched before. What should I expect?</dt>
			<dd>We will schedule “perfect your pitch” sessions with the selected companies prior to the event. You should expect mentorship, networking, camaraderie, and to bring you’re a game.</dd>

			<dt>What's the schedule like?</dt>
			<dd>
				7:30 AM Registration Opens/Networking<br />
				9:00 AM Opening Remarks<br />
				9:15 AM "The Speed Round"- One Minute Pitches<br />
				10:30 AM Panel Discussion<br />
				11:30 AM Lunch<br />
				12:30 PM "The Gong Show"- 3 Minute Pitches<br />
				2:30 PM "The Top Ten"- Q&amp;A with Judges<br />
				3:30 PM Networking<br />
				4:30 PM "The Final Five"- Winners are Announced and Acceptance Speeches are Made<br />
				5:00 PM Cocktail Reception<br />
			</dd>

			<dt>How many startups are expected to compete?</dt>
			<dd>50 Startups will compete each day. <strong>October 11th</strong> is Series A Day for companies that have raised $100k to $1 Million. <strong>October 12th</strong> is Seed Stage Day for companies that have raised zero to $100K.</dd>

			<dt>What should my pitch look like? How long? Can I bring a powerpoint?</dt>
			<dd>Round one: The "Elevator Pitch" to the audience of VCs, angels, and more (1 min, no slides.) If your company is selected as one of the final 20: You will make your “Second Pitch” (three minutes to present your deck) to the audience of VCs, angels, and more. The top 10 will compete in a Q&amp;A session and prizes will be awarded to the TOP 5! The Fortify.vc team will be hosting "Perfect Your Pitch" seminars before the event.</dd>

			<dt>I don't think I'm ready yet, but I'd love to watch. Can I show up anyways?</dt>
			<dd>We welcome all entrepreneurs to attend and tickets are available online at http://distilledintelligence.eventbrite.com</dd>

			<dt>How do I know my idea will be safe? Will everyone sign an NDA with my company?</dt>
			<dd>Ideas are just ideas. The execution of ideas is what matters. No one will sign an NDA from the Fortify.vc or DI team.</dd>

			<dt>I am a Service Provider and would like to attend, how can I participate?</dt>
			<dd>Service Providers are an integral part of the ecosystem and Distilled Intelligence. However, service providers are only able to attend DI 2.0 through sponsorship of the event.</dd>
		</dl>
		<p id="last-cta">Got it? <a href="http://apply.distilledintelligence.com" id="register-now">Register your startup</a> now, or <a href="http://distilledintelligence.eventbrite.com">attend the event</a> to meet amazing people in the startup community!</p>
	</div>	
</section>	

<section id="community-sponsors" class="cf">
	<div class="wrap">
		<h2>Community Sponsors</h2>
		<ul>
			<li><a href="http://www.cofounderslab.com/" class="sponsor" id="cofounders_lab">Thank you to Cofounders Lab.</a></li>
			<li><a href="http://www.meetup.com/dcyoungentrepreneurs/" class="sponsor" id="dcye">Thank you to DC Young Entrepreneurs.</a></li>
			<li><a href="http://www.rhsmith.umd.edu/dingman/" class="sponsor" id="dingman">Thank you to the Dingman Center for Entrepreneurship at UMD</a></li>
			<li><a href="http://vergestartups.com/" class="sponsor" id="verge">Thank you to Verge Startups.</a></li>
		</ul>
	</div>
</section>