/*------------------------------------*\
  Application-wide defaults
\*------------------------------------*/

$cta-orange: #e88f02;
$cta-red: #ba0000;

body {
	font-family: 'Myriad Pro', sans-serif;
	font-size: small;
	background:url("light_noise_diagonal.png");
	line-height: 1.337;
}

h1, h2, h3, h4 {
	font-family: 'Gill Sans', 'Myriad Pro', sans-serif;
	font-weight: 500;
	text-transform: uppercase;
}

h2 { font-size: 24px; }

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

p {
	font-size: 17px;
	font-weight: 100;
}

a { color: $cta-red; text-decoration: none; }
a:hover { color: black; }

.cf {
  *zoom: 1;
}

.cf:before,
.cf:after {
  display: table;
  content: "";
}

.cf:after {
  clear: both;
}

.wrap {
	width: 920px;
	margin: 0 auto;
}


header {
	background: url("header-bg-1920x639.png") no-repeat; 
	background-color: #d69255;
	padding: 5em 0 2em;
	
	.di-logo {
		display: block;
		margin: 0 auto;
		background: url("distilled-logo-500x130.png");
		width: 500px;
		height: 130px;
	}

	a { 
		color: white; 
		text-decoration: underline;
		&:hover { color:white; color: #ba0000; } 
	}

	.intro {
		width: 100%;
		margin-top: 4em;
	}

	.quote-slider {
		width: 920px;
		display: block;
		margin: 4em auto 0;
	}

		.bx-prev{ left: -100px; opacity: .2; }
		.bx-next { right: -100px; opacity: .2; }

	q {
		width: 920px;
		display: block;
		font-size: 1.8em;
		font-style: italic;
		color: white;
		text-shadow: 0 1px 1px rgba(0,0,0,.4);
		font-family: "Chaparral Pro", "Georgia", serif;
		font-weight: 100;
		text-align: center;
		clear: both;
	}

	.detail { text-shadow: 0 1px 1px rgba(0,0,0,.3);}
}


.third-column {
	float:left;
	width:274px;
	color: white;
	margin-right: 24px;
	padding-right: 16px;

	h2 { margin-bottom: 1em; text-align: center; }
	p { text-align: center; }

	a.button {
		width: 90%;
		padding-left: 0;
		padding-right: 0;
	}

	&:last-child{ margin-right: 0; }
}

.intro-audience ul {
	font-size: 1.2em;
	list-style: circle;

	li { margin-bottom: 1em; margin-left: 1em;}
}

#event-details, #newsletter {
	background: rgba(45,45,45,1);
	color: white;
	text-shadow: 0 1px 0 rgba(0,0,0,.2);
	padding: 4em 0;
	border-top: 1px solid black;
	box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
}


#sponsors {
	padding-top: 3em;
	padding-bottom: 2em;	
	background: #990000;
	color: white;
	text-shadow: 0 1px 0 rgba(0,0,0,.2);
	box-shadow: inset 0 1px 0px rgba(255,255,255,.3), 0 1px 3px rgba(0,0,0,.5);
	border-top: 1px solid #111;
	border-bottom: 1px solid #333;

	h2 {
		margin-bottom: 1em;
		margin-left: .5em;
	}

	p {
		clear:both;
		margin-left: 1em;
		margin-right: 1.2em;
		padding-top: 1em;
		width: 584px;
		float:left;
	}

	.button {
		width:180px;
		float:left;
		margin-top: .5em;
		display: block;
	}

	ul { padding-top: 2em; clear:both; }

	.sponsor {
		float:left;
		width:282px;
		display: block;
		height:140px;
		margin-left: 1em;
		margin-bottom: 1em;
		background: white;
		border: 1px solid rgba(0, 0, 0, 0.4);
		box-shadow: 0 1px 0px rgba(255,255,255,.4);
		text-indent: -9999em;
	}

	#aed { background: url("AED-logo-282x140.png") no-repeat, white; }
	#one_city { background: url("OneCity-logo-282x140.png") no-repeat, white; }
	#events_dc { background: url("eventsDC-logo-282x140.png") no-repeat, white; }
}


#graduates {
	clear:both;
	padding-top: 4em;
	
	h3 { margin: 2em 0 1em; background-color: rgba(200,200,200,.2); display: inline-block; }
	
	li:nth-child(2n+1) .graduate {
		margin-left: 0;
	}
	
	.graduate {
		font-size: 1.2em;
		line-height: 1.4;
		margin-bottom: 1em;
		width: 452px;
		float: left;
		margin-left: 1em
	}
	
	.graduate img {
		width: 100%;
		max-width: 400px;
		margin: 1em 0;
		display: block;
		border: 1px solid rgba(0,0,0,.7);
		box-shadow: 0 1px 2px rgba(0,0,0,.4);
		outline: none;
	}
}

	
#newsletter {
	margin-top:2em;
	border-bottom:1px solid black;
	box-shadow: 0 1px 2px rgba(255,255,255,1);

	h2 {
		text-align: center;
		margin-bottom: 1em;
	}

	#email-signup {
		display: block;
		width: 420px;
		margin: 0 auto;
	}

	label { font-size: 1em; font-weight: 100; }

	input[type="email"] {
		padding: .5em;
		border: 1px solid rgba(0,0,0,1);
		box-shadow: 0 1px 0px rgba(255,255,255,.3);
		font-size: 1.2em;
		border-radius: 3px;
		width: 200px;
		margin-left: 1em;
	}

	.button {
		display:block;
		margin: 0 auto;
		margin-top: 1em;
	}
}

#faqs { 
	margin-top:4em; 
	h2 { margin-bottom: 1.5em;}

	dl {
		font-size: 1.2em;
		line-height: 1.4;
	}
	dt {
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: .5em;
	}

	dd {
		margin-bottom: 2em;
	}

	#last-cta {
		line-height: 1.4;
		text-align:left;
		padding: 1em;
		border: 1px solid rgba(0,0,0,.2);
		border-radius: 3px;
		background: rgba(255,255,220,0.7);
		box-shadow: 0 1px 1px rgba(0,0,0,0.2);
		text-shadow: 0 1px 0 rgba(255,255,255,0.5);

		a:hover { text-decoration:underline; color: inherit; };
	}

	#register-now {
		color: darken($cta-orange, 10%);
	}
}



footer {
	padding: 3em 0 2em;
}
	
	footer ul li a {
		float:left;
		display: block;
		margin-right: 2em;
		text-align: left;
	}
	
	footer ul li.nav-right a {
		float:right;
		display: block;
		margin-left: 2em;
		text-align: right;
	}
	
/*------------------------------------*\
  	Buttons
\*------------------------------------*/
	
.button {
	display: inline-block;
	margin-bottom: 0;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background: #ba0000;
	background: -moz-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,.2) 100%), #ba0000;
	background: -webkit-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,.2) 100%), #ba0000;
	font-size: 20px;
	padding: .5em;
	color: white;
	text-shadow: 0 1px 0 rgba(0,0,0,.2);
	text-transform: uppercase;
	font-family: 'Gill Sans', sans-serif;
	font-weight: 300;
	border: 1px solid rgba(0,0,0,.5);
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	padding: .75em 1.5em;
	
	&:hover {
		text-decoration: none;
		color: white;
		background-color:  #bf0000;
		background: -moz-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,.2) 100%), #ba0000;
		background: -webkit-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,.1) 100%), #ba0000;
		box-shadow: 0 1px 1px rgba(0,0,0,.3);
	}
	
	&:active {
		background: #ba0000;
		box-shadow:inset 0 2px 5px rgba(0,0,0,.3);
	}
}

.button.transparent {
	background-color: transparent;
}

.button.cta {
	background-color:  #e88f02;
	background: -moz-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,.2) 100%), #e88f02;
	background: -webkit-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,.2) 100%), #e88f02;
	
	&:hover { 
		background: -moz-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,.2) 100%), #e88f02;
		background: -webkit-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,.1) 100%), #e88f02;
	}

	&:active { background: #e88f02; }
}


/*------------------------------------*\
	  Responsiveness
\*------------------------------------*/

@media (max-width: 480px) {

	.wrap {
		width:288px;
	}

	h2, h3, p {
		text-align: center;
	}

	header {
		background: url("header-bg-639x1024.png") no-repeat;

		.di-logo {
			background: url("distilled-logo-300x78.png");
			width: 300px;
			height: 78px;
		}

		.quote-slider {
			width: 240px;
			display: block;
			margin: 4em auto 0;

			.bx-prev{ left: -40px; }
			.bx-next { right: -40px; }

			q {
				width: 240px;
				text-align: center;
				font-size: 1.3em;
			}
		}	
	}

	.third-column { width: 100%;}

	h2 { margin-top: 2em; line-height: 1.3; }

	.button {
		width: 260px;
		padding: 1em .25em;
	}

	header .intro {
		margin-top: 0;
	}

	#sponsors {
		padding-top: 0;
		padding-left: 0;
		margin-bottom: 2em;

		h2 {
			margin:0 0 2em;
			padding-top: 2em;
		}

		.sponsor {
			margin: 0 auto 1em;
			float: none;
			padding-left: 0;
		}

		p { width: 90%; display: block; margin: 0 auto 2em; float: none; text-align: left;}
		a.button { margin:0 auto; float: none; padding: 1em; width: 80%;}
	}	


	#graduates {
		border-top: 1px solid black;
		background: rgba(200,200,200,.1);
		border: 1px solid rgba(0,0,0,.3);
		box-shadow: 0 0 3px rgba(0,0,0,.3);
		padding-top: 0;
		
		.graduate {
			display: block;
			width: 80%;
			margin: 0 auto 2.4em !important;
			float: none;
			
			p {
				text-align: left;
			}
		}
	}

	#newsletter {
		border-bottom:1px solid black;
		box-shadow: 0 1px 2px rgba(255,255,255,1);
		padding: 0 0 4em;

		h2 {
			text-align: center;
		}

		#email-signup {
			display: block;
			width: 100%;
		}

		label {
			text-align: center; 
			display:block; 
			margin-top: 3em;
		}

		input[type="email"] {
			width: 260px;
			display: block;
			margin: .5em auto 0;
		}
	}

	#faqs { margin-top: 0;}

	footer ul li a {
		width:100%;
		display: block;
		margin-bottom: 1em;
		text-align: center;
	}

	footer ul li.nav-right a {
		float:none;
		width:100%;	
		display: block;
		margin-bottom: 1em;
		text-align: center;
		margin-left: 0;
	}
}