/*------------------------------------*\
  Application-wide defaults
\*------------------------------------*/

$cta-orange: #e88f02;
$cta-red: #ba0000;

body {
	font-family: 'Myriad Pro', sans-serif;
	font-size: small;
	background:url("light_noise_diagonal.png");
}

h1, h2, h3, h4 {
	font-family: 'Gill Sans', 'Myriad Pro', sans-serif;
	font-weight: 100;
	text-transform: uppercase;
}

h2 { font-size: 24px; }

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

p {
	font-size: 17px;
	font-weight: 100;
}

a { color: $cta-red; text-decoration: none; }
a:hover { color: black; }

.cf {
  *zoom: 1;
}

.cf:before,
.cf:after {
  display: table;
  content: "";
}

.cf:after {
  clear: both;
}

.wrap {
	width: 920px;
	margin: 0 auto;
}


header {
	background: url("header-bg-1920x639.png") no-repeat;
	padding: 5em 0 2em;
	
	.di-logo {
		display: block;
		margin: 0 auto;
		background: url("distilled-logo-500x130.png");
		width: 500px;
		height: 130px;
	}

	a { 
		color: white; 
		text-decoration: underline;
		&:hover { color:white; color: #ba0000; } 
	}
	
	 a.button {
		display: block;
		margin: 3em auto;
		width: 300px;
		text-decoration: none;
	}

	q {
		width: 75%;
		margin: 2em auto 0;
		display: block;
		font-size: 2em;
		font-style: italic;
		color: white;
		text-shadow: 0 1px 1px rgba(0,0,0,.4);
		font-family: "Chaparral Pro", "Georgia", serif;
		font-weight: 100;
		line-height: 1.4;
		text-align: center;
	}
}


#event-details, #newsletter {
	background: rgba(45,45,45,1);
	color: white;
	text-shadow: 0 1px 0 rgba(0,0,0,.2);
	padding: 5em 0;
	border-top: 1px solid black;
	box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
	padding-left: 4em;
	
	h2 {
		margin-bottom: .5em;
	}
	
	.detail {
		float:left;
		display: block;
		width: 30%;
		margin-left: 2.5em;
		line-height: 1.337;
		
		&.alpha { margin-left: 0; }
	}
}


section { }

#sponsors {
	padding-top: 3em;
	background: #990000;
	color: white;
	text-shadow: 0 1px 0 rgba(0,0,0,.2);
	margin-left: 0;
	padding-bottom: 2em;
	box-shadow: inset 0 1px 2px rgba(255,255,255,.3);
	width: 378px;
	float:left;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	box-shadow: 0 1px 3px rgba(0,0,0,.5);
	border-bottom: 1px solid #333;
	border-left: 1px solid #333;
	border-right: 1px solid #333;
}

	#sponsors h2 {
		margin-left: 2em;
		margin-bottom: 1em;
	}
	
	#sponsors .button {
		width:200px;
		margin: 0 auto;
		display: block;
	}

.sponsor-pair {
	width: 310px;
	margin: 0 auto;
}

.sponsor {
	display: block;
	float:left;
	width:140px;
	height:140px;
	margin-left: 1em;
	margin-bottom: 1em;
	background: white;
	border: 1px solid rgba(0, 0, 0, 0.4);
	box-shadow: 0 1px 0px rgba(255,255,255,.4);
	text-indent: -9999em;
}

#aed { background: url("AED-logo-140x140.png") no-repeat; }

#why-apply {
	float: left;
	display: block;
	width: 500px;
	padding-top: 2em;
	padding-left: 40px;
	margin-bottom: 3em;
	
	ol {
		margin-bottom: 2em;
		counter-reset: li; /* Initiate a counter */
		list-style: none; /* Remove default numbering */
		*list-style: decimal; /* Keep using default numbering for IE6/7 */
		font: 15px 'trebuchet MS', 'lucida sans';
		padding: 0;
		text-shadow: 0 1px 0 rgba(255,255,255,.5);
	}

	.rounded-list li{
		position: relative;
		display: block;
		padding: .4em .4em .4em 6em;
		*padding: .4em;
		margin: 4em 0;
		color: #333;
		font-size: 1.2em;
		text-decoration: none;
		border-radius: .3em;
		transition: all .3s ease-out;	
	}

	.rounded-list li:hover{
		background: #eee;
	}

	.rounded-list li:hover:before{
	    transform: rotate(360deg);	
	}

	.rounded-list li:before{
		color: white;
		font-size: 2.2em;
		content: counter(li);
		counter-increment: li;
		position: absolute;	
		left: 0em;
		top: 50%;
		margin-top: -1em;
		background: #333;
		height: 2em;
		width: 2em;
		line-height: 2em;
		border: 1px solid black;
		text-align: center;
		font-weight: bold;
		border-radius: 2em;
		transition: all .3s ease-out;
	}
}

#graduates {
	clear:both;
	padding-top: 4em;
	
	h3 { margin: 2em 0 1em; background-color: rgba(200,200,200,.2); display: inline-block; }
	
	li:nth-child(2n+1) .graduate {
		margin-left: 0;
	}
	
	.graduate {
		font-size: 1.2em;
		line-height: 1.4;
		margin-bottom: 1em;
		width: 452px;
		float: left;
		margin-left: 1em
	}
	
	.graduate img {
		width: 100%;
		max-width: 400px;
		margin: 1em 0;
		display: block;
		border: 1px solid rgba(0,0,0,.7);
		box-shadow: 0 1px 2px rgba(0,0,0,.4);
		outline: none;
	}
}

	
#newsletter {
	margin-top:2em;
	border-bottom:1px solid black;
	box-shadow: 0 1px 2px rgba(255,255,255,1);

	h2 {
		text-align: center;
	}

	#email-signup {
		display: block;
		width: 400px;
		margin: 0 auto;
	}

	label { font-size: 1em; font-weight: 100; }

	input[type="email"] {
		padding: .5em;
		border: 1px solid rgba(0,0,0,1);
		box-shadow: 0 1px 0px rgba(255,255,255,.3);
		font-size: 1.2em;
		border-radius: 3px;
		width: 200px;
		margin-left: 1em;
	}

	.button {
		display:block;
		margin: 0 auto;
		margin-top: 1em;
	}
}

#faqs { 
	margin-top:4em; 
	h2 { margin-bottom: 1.5em;}

	dl {
		font-size: 1.2em;
		line-height: 1.4;
	}
	dt {
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: .5em;
	}

	dd {
		margin-bottom: 2em;
	}

	#last-cta {
		line-height: 1.4;
		text-align:left;
		padding: 1em;
		background: yellow;
		border: 1px solid rgba(0,0,0,.2);
		border-radius: 3px;
		background: rgba(255,255,220,0.7);
		box-shadow: 0 1px 1px rgba(0,0,0,0.2);
		text-shadow: 0 1px 0 rgba(255,255,255,0.5);

		a:hover { text-decoration:underline; color: inherit; };
	}

	#register-now {
		color: $cta-orange;
	}

}



footer {
	padding: 3em 0 2em;
}
	
	footer ul li a {
		float:left;
		display: block;
		margin-right: 2em;
		text-align: left;
	}
	
	footer ul li.nav-right a {
		float:right;
		display: block;
		margin-left: 2em;
		text-align: right;
	}
	
/*------------------------------------*\
  	Buttons
\*------------------------------------*/
	
.button {
	display: inline-block;
	margin-bottom: 0;
	line-height: 18px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background: #ba0000;
	background: -moz-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,.2) 100%), #ba0000;
	background: -webkit-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,.2) 100%), #ba0000;
	font-size: 20px;
	padding: .5em;
	color: white;
	text-shadow: 0 1px 0 rgba(0,0,0,.2);
	text-transform: uppercase;
	font-family: 'Gill Sans', sans-serif;
	font-weight: 300;
	border: 1px solid rgba(0,0,0,.5);
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	padding: .75em 1.5em;
	
	&:hover {
		text-decoration: none;
		color: white;
		background-color:  #bf0000;
		background: -moz-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,.2) 100%), #ba0000;
		background: -webkit-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,.1) 100%), #ba0000;
		box-shadow: 0 1px 1px rgba(0,0,0,.3);
	}
	
	&:active {
		background: #ba0000;
		box-shadow:inset 0 2px 5px rgba(0,0,0,.3);
	}
}



.button.cta {
	background-color:  #e88f02;
	background: -moz-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,.2) 100%), #e88f02;
	background: -webkit-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,.2) 100%), #e88f02;
	
	&:hover { 
		background: -moz-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,.2) 100%), #e88f02;
		background: -webkit-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,.1) 100%), #e88f02;
	}

	&:active { background: #e88f02; }
}


/*------------------------------------*\
	  Responsiveness
\*------------------------------------*/

@media (max-width: 919px) {
	.wrap {
		width: 640px;
	}	
	
	h2, h3, p {
		text-align: center;
	}
	
	#event-details, #newsletter{
		padding:2em 0 0;
		
		.detail {
			width: 100%;
			display: block;
			margin: 0 0 2em 0;
			text-align: center;
			line-height: 1.4;
		}
	}
	
	#sponsors {
		width: 100%;
	}
	
	#graduates {
		border-top: 1px solid black;
		background: rgba(200,200,200,.1);
		border: 1px solid rgba(0,0,0,.3);
		box-shadow: 0 0 3px rgba(0,0,0,.3);
		
		.graduate {
			display: block;
			width: 80%;
			margin: 0 auto 2.4em !important;
			float: none;
			
			p {
				text-align: left;
			}
		}
	}

	#newsletter {
		margin-top: 2em;
		padding-bottom: 2em;
	}
}
	
@media (max-width: 640px) {

	.wrap {
		width: 480px;
	}	

	header {
		background: url("header-bg-1024x639.png") no-repeat;
	}
	
	header .di-logo {
		background: url("distilled-logo-300x78.png");
		width: 300px;
		height: 78px;
	}

	#sponsors h2 {
		margin-left: 0em;
	}

	.sponsor-pair {
		width: 280px;
		margin: 0 auto;
	}
		
	.sponsor {
		width:120px;
		height:120px;
		margin-left: 10px;
	}

	#aed { background: url("AED-logo-120x120.png") no-repeat; }
	
	#why-apply {
		padding-left: 0;
		width: 100%;
		
		a.button {
			width:100%;
			padding: 1em 0;
		}
	}
	
	footer {
		padding: .5em 0; 
		ul li a {
			font-size: 1.4em;
			display: block;
			margin: 1em auto;
			float:none !important;
			text-align: center !important; 
		}
		
		ul li.nav-right a {
			float:none;
			margin-left: 0;
		}
	}
}

@media (max-width: 480px) {

	.wrap {
		width:310px;
	}

	header q {
		font-size:1.4em;
		text-align: left;
	}

	.button {
		width: 260px;
		padding: 1em .25em;
	}

	#newsletter {
		border-bottom:1px solid black;
		box-shadow: 0 1px 2px rgba(255,255,255,1);

		h2 {
			text-align: center;
		}

		#email-signup {
			display: block;
			width: 100%;
		}

		label {
			text-align: center; 
			display:block; 
			margin-top: 3em;
		}

		input[type="email"] {
			width: 260px;
			display: block;
			margin: .5em auto 0;
		}
	}
}